<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Students:</h1>
      <div class="btn-group-horizontal">
        <label> Sort by ... </label>
        <button type="radio" id="lastName" ng-click="studentCtrl.toggleSortable('lastName')"> Last Name </button>
        <button type="radio" id="Credits" ng-click="studentCtrl.toggleSortable('Credits')"> Credits </button>
        <button type="radio" id="dateOfBirth" ng-click="studentCtrl.toggleSortable('DOB')"> Date of Birth </button>
      </div>
      <hr>

      <!-- Student Info/Demographics-->
      <div class="student-block" ng-repeat="student in studentCtrl.students | orderBy: studentCtrl.sorter">
        <div class="student-name">
          {{student.firstName}} {{student.lastName}}
        </div>

        <button ng-class="{true: 'btn-true', false: 'btn-false'}" ng-click="showInfo=true; showCourses=false" >Student Info</button>
        <button ng-class="{true: 'btn-true', false: 'btn-false'}" ng-click="showInfo=false; showCourses=true">Course History</button>

        <div ng-show="showInfo">
          <h4>Student Info</h4>
          <div class="student-data">Credits: {{studentCtrl.calculateCreditsAngular(student)}}</div>
          <div class="student-data">GPA: {{studentCtrl.calculateGPAAngular(student)}}</div>
          <div class="student-data">DOB: {{student.dateOfBirth}}</div>
          <div class="student-data">Gender: {{student.gender}}</div>
          <div class="student-data">Address: {{student.address}}</div>
          <div class="student-data">Email: {{student.email}}</div>
          <div class="student-data">Phone: {{student.phone}}</div>
        </div>


        <!-- Student Courses-->
        <div ng-show="showCourses">
          <h4>Course History</h4>
          <table>
            <tr class="course-table">
              <th class="course-table">Subject:</th>
              <th class="course-table">Number:</th>
              <th class="course-table">Course Name:</th>
              <th class="course-table">Credits:</th>
              <th class="course-table">Grade:</th>
            </tr>
            <tr ng-repeat="class in student.courses">
              <td class="course-table-dark" ng-if="$even">  {{class.course.subject}}</td>
              <td class="course-table" ng-if="$odd">  {{class.course.subject}}</td>

              <td class="course-table-dark" ng-if="$even">{{class.course.courseNumber}}</td>
              <td class="course-table" ng-if="$odd">  {{class.course.courseNumber}}</td>

              <td class="course-table-dark" ng-if="$even">{{class.course.name}}</td>
              <td class="course-table" ng-if="$odd">{{class.course.name}}</td>

              <td class="course-table-dark" ng-if="$even">  {{class.course.credits}}</td>
              <td class="course-table" ng-if="$odd"> {{class.course.credits}}</td>

              <td class="course-table-dark" ng-if="$even">  {{class.grade}}</td>
              <td class="course-table" ng-if="$odd">  {{class.grade}}</td>
            </tr>
          </table>

        </div>


      </div>

    </div>
  </div>
</div>

