.class-info {
  padding-left: 15px;
}

.student-block {
  border: 2px solid #27496d;
  border-radius: 3px;
  padding: 4px;
  margin: 6px;
  display: block;
}

.student-name {
  font-size: 1.5em;
  display: inline-block;
  padding: 2px;
  margin: 3px;
}

.student-data-container {
  margin:5px;
  display: block;
  border-top: 1px dotted #6496c8;
}

.student-info {
  display: block;
  line-height: 100%;
  padding: 2px;
  margin: 3px;
  border-bottom: 1px dotted #6496c8;
}

.course-table {
  border-bottom: 1px solid #6496c8;
  border-collapse: collapse;
  padding: 2px;
  padding-right: 10px;
}
.course-table-dark {
  background-color: #f1f1f1;
  border-bottom: 1px solid #6496c8;
  border-collapse: collapse;
  padding: 2px;
  padding-right: 10px;
}

button.sort {
  background: #6496c8;;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px #27496d;
  -moz-box-shadow: 0 4px #27496d;
  box-shadow: 0 4px #27496d;
  margin: 3px;
  color: #fff;
  font-size: 1.3em;
  font-style: normal;
}

button.sort:hover {
  background-color: #417cb8;
}

button.sort.on {
  background-color: #417cb8;
  -webkit-box-shadow: 0 2px #27496d;
  -moz-box-shadow: 0 2px #27496d;
  box-shadow: 0 2px #27496d;
  transform: translateY(2px);
}


