<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Students:</h1>
      <div class="btn-group-horizontal">
        <label> Sort by ... </label>
        <button type="radio" id="lastName" ng-click="studentCtrl.giveSortables('lastName')"> Last Name </button>
        <button type="radio" id="GPA" ng-click="studentCtrl.giveSortables('GPA')"> GPA </button>
      </div>
      <hr>

      <!-- Student Info/Demographics-->
      <div class="student-block" ng-repeat="student in studentCtrl.students | orderBy: studentCtrl.currSortables">
        <div class="student-name">
          {{student.firstName}} {{student.lastName}}
        </div>
        <div class="student-data">DOB: {{student.dateOfBirth}}</div>
        <div class="student-data">Gender: {{student.gender}}</div>
        <div class="student-data">Address: {{student.address}}</div>
        <div class="student-data">Email: {{student.email}}</div>
        <div class="student-data">Phone: {{student.phone}}</div>

        <!-- Student Courses-->

        <details> <summary> Classes: </summary>
        <table>
          <tr class="course-table">
            <th class="course-table">Subject:</th>
            <th class="course-table">Course Number:</th>
            <th class="course-table">Course Name:</th>
            <th class="course-table">Credits:</th>
            <th class="course-table">Grade:</th>
          </tr>
          <tr ng-repeat="class in student.courses">
            <td class="course-table" ng-if="$even" style="background-color:#f1f1f1">  {{class.course.subject}}</td>
            <td class="course-table" ng-if="$odd">  {{class.course.subject}}</td>
            <td class="course-table" ng-if="$even" style="background-color:#f1f1f1">{{class.course.courseNumber}}</td>
            <td class="course-table" ng-if="$odd">  {{class.course.courseNumber}}</td>
            <td class="course-table" ng-if="$even" style="background-color:#f1f1f1">{{class.course.name}}</td>
            <td class="course-table" ng-if="$odd">{{class.course.name}}</td>
            <td class="course-table" ng-if="$even" style="background-color:#f1f1f1">  {{class.course.credits}}</td>
            <td class="course-table" ng-if="$odd"> {{class.course.credits}}</td>
            <td class="course-table" ng-if="$even" style="background-color:#f1f1f1">  {{class.grade}}</td>
            <td class="course-table" ng-if="$odd">  {{class.grade}}</td>
          </tr>
        </table>
        </details>

      </div>

      ====================
      ====================
=========BEGIN OLD STYLE==========
      ====================
      ====================

      <div class="nav nav-tabs nav-stacked" ng-repeat="student in studentCtrl.students | orderBy: studentCtrl.currSortables">
        <div>
          <div class="student-block">  {{ student.firstName }} {{ student.lastName }}
            <div class="student-info">
              <div class="ng-hide" ng-hide="studentCtrl.hideGPA"> Current GPA: {{studentCtrl.calculateGPA(student.courses)}} </div>
              <div class="student-data">DOB: {{student.dateOfBirth}} <br> </div>
              <div class="student-data">Gender: {{student.gender}} <br> </div>
              <div class="student-data">Address: {{student.address}} <br> </div>
              <div class="student-data">Email: {{student.email}} <br> </div>
              <div class="student-data">Phone: {{student.phone}} </div>

              <details> <summary> Classes: </summary>
                <ul class="nav nav-tabs nav-stacked" ng-repeat="class in student.courses">
                  <li class="class-info">
                    <details> <summary> {{ class.course.name }} </summary>
                      <div class="class-info"> Course credits: {{class.course.credits}} </div>
                      <div class="class-info"> Course number: {{class.course.courseNumber}} </div>
                      <div class="class-info"> Course subject: {{class.course.subject}} </div>
                      <div class="class-info"> Course grade: {{class.grade}} </div>
                    </details>
                  </li>
                </ul>
              </details>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

