.student-info {
  padding-left: 15px;
}

.class-info {
  padding-left: 15px;
}

.student-block {
  border: 2px solid black;
  border-radius: 3px;
  padding: 4px;
  margin: 6px;
  display: block;
}

.student-name {
  font-size: 1.5em;
  display: inline-block;
  padding: 2px;
  margin: 3px;
}

.student-data {
  display: inline-block;
  line-height: 100%;
  padding: 2px;
  margin: 3px;
}

.course-table {
  border-bottom: 1px solid grey;
  border-collapse: collapse;
  padding: 2px;
}
.course-table-dark {
  background-color: #f1f1f1;
  border-bottom: 1px solid grey;
  border-collapse: collapse;
  padding: 2px;
}

.btn-true {
  border: 2px solid red;
}

.btn-false {
  border: 2px solid blue;
}

